<!doctype html>
<html lang="en">
    <head>
        <title>Automation Controller Service</title>
        <meta charset="utf-8">
        <!-- Turn Off Caching of This Page -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <!-- Configure the ViewPort Size -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="/static/styles/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="/static/styles/bootstrap-vue.css" />

        <!-- Load polyfills to support older browsers -->
        <script src="/static/javascript/polyfill.js"></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="/static/javascript/vue.js"></script>
        <script src="/static/javascript/bootstrap-vue.js"></script>

        <!-- Load Http Vue Loader -->
        <script src="/static/javascript/http-vue-loader.js"></script>

        <script src="/static/javascript/axios.js"></script>
    </head>
    <body>
        <div id='section-header'>
            <nav class="navbar navbar-light bg-light" style="padding-top: 10px">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <span><img src="/static/icons/pie_chart-24px.svg" width="30" height="30" class="d-inline-block align-top" alt="" />Automation Controller</span>
                        </a>
                    </div>
                    <div class="nav navbar-nav" style="padding-top: 10px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="window.location.href = '/';"> Status </button>
                            <button type="button" class="btn btn-primary active"> Devices </button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href = '/jobs';"> Job Queue </button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href = '/results';"> Results </button>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id='section-body'>
            <div id='application'>
                <b-card class="mb-3">
                    <b-card-title>Expected Devices</b-card-title>
                    <devices-list :device_list="expected"></devices-list>
                </b-card>
                <b-card class="mb-3">
                    <b-card-title>Other Devices</b-card-title>
                    <devices-list :device_list="other"></devices-list>
                </b-card>
            </div>
            <!-- Load the Application-->
            <script>
                new window.Vue({
                    el: '#application', 
                    data: {
                        expected: null,
                        other: null
                    },
                    components: {
                        'devices-list': window.httpVueLoader('/static/components/DeviceList.vue')
                    },
                    mounted () {
                        var that = this;

                        var qurl = "/api/1/devices";
                        axios.get(qurl).then(
                            (response) => {
                                var expected_list = response.data.expected;
                                var found_list = response.data.found;

                                var found_lookup = {};
                                for (fitem in found_list) {
                                    found_lookup[fitem.MACAddress] = fitem;
                                }

                                for (eitem in expected_list) {
                                    if (eitem.MACAddress in found_lookup) {
                                        eitem.found = true;
                                    }
                                    else {
                                        eitem.found = false;
                                    }

                                    delete found_lookup[eitem.MACAddress];
                                }

                                that.expected = expected_list;
                                that.other = found_lookup.values();
                            }
                        );
                    }
                });
            </script>
        </div>
        <div id='section-footer'>
        </div>
    </body>
</html>
