<!doctype html>
<html lang="en">
    <head>
        <title>Software Configuration Management System - Summary</title>
        <meta charset="utf-8">
        <!-- Turn Off Caching of This Page -->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <!-- Configure the ViewPort Size -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link type="text/css" rel="stylesheet" href="/static/styles/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="/static/styles/bootstrap-vue.css" />

        <!-- Load polyfills to support older browsers -->
        <script src="/static/javascript/polyfill.js"></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="/static/javascript/vue.js"></script>
        <script src="/static/javascript/bootstrap-vue.js"></script>

        <!-- Load Http Vue Loader -->
        <script src="/static/javascript/http-vue-loader.js"></script>

        <script src="/static/javascript/axios.js"></script>
    </head>
    <body>
        <div id='section-header'>
            <nav class="navbar navbar-light bg-light" style="padding-top: 10px">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <span><img src="/static/icons/pie_chart-24px.svg" width="30" height="30" class="d-inline-block align-top" alt="" /> SCMS</span>
                        </a>
                    </div>
                    <div class="nav navbar-nav" style="padding-top: 10px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary active"> Summary </button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href = '/releases';"> Releases </button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href = '/branches';"> Branches </button>
                            <button type="button" class="btn btn-primary" onclick="window.location.href = '/builds';"> Builds </button>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id='section-body'>
        </div>
        <div id='section-footer'>
        </div>
    </body>
</html>
